#### Python Basics
- Output Functions
    - print()
- Input Functions
- Functional Programming

In [1]:
print("Hello Python")

Hello Python

In [2]:
print('Hello Python')
print('Project Development')

Hello Python
Project Development

In [3]:
print('Hello Python','Project Development')

Hello Python Project Development

In [4]:
print('Hello Python',end= ' ')
print('Project Development')

Hello Python Project Development

#### Datatypes of Python
- int
- float
- string

In [8]:
x = 1000000009099999999
print(x,type(x))

1000000009099999999 <class 'int'>

In [10]:
x1 = 12.12121212121321321321
print(x1,type(x1))

12.121212121213214 <class 'float'>

In [18]:
s1 = "a" # 'a'
s2 = "1213"
print(s1,type(s1))
print(s2,type(s2))

a <class 'str'>
1213 <class 'str'>

#### Python Datatype Conversions
- int()
- str()
- float()

In [22]:
x1 = '1213'
a1 = int(x1)
a2 = float(a1)
print(x1,type(x1))
print(a1,type(a1))
print(a2,type(a2))

1213 <class 'str'>
1213 <class 'int'>
1213.0 <class 'float'>

#### Input Functions
- input() : Reads the input from the Console Screen
- input() returns the string

In [26]:
name = input('Enter Your Name : ')
print('Your Name is : ',name)
print(type(name))

Enter Your Name : 4232adf
Your Name is :  4232adf
<class 'str'>

In [27]:
n1 = int(input('Enter a Number : '))
print("n1 = ",n1)
print(type(n1))

Enter a Number : 12
n1 =  12
<class 'int'>

In [28]:
d1 = float(input('Enter a Decimal Number : '))
print(type(d1),d1)

Enter a Decimal Number : 12.12
<class 'float'> 12.12

#### Control Flow Statements
- Conditional Statements
    - if-else
- Looping Statements
    - while
    - for

In [ ]:
if Condition:
    Statement 1
    Statement 2
    Statement 3
else:
    Statement 1
    Statement 2
    Statement 3

In [30]:
# Read the Number as Input and Test whether Even or Odd
x = int(input())
if x % 2 == 0:
    print('Even Number')
else:
    print('Odd Number')

12
Even Number

In [32]:
# Read the Input as Username and Password
# If both are same as 'Admin' print Valid User
# If not print 'Invalid User'
username = input('Enter Username : ')
password = input('Enter Password : ')
if username == 'Admin' and password == 'Admin':
    print('Valid User')
else:
    print('Invalid User')

Enter Username : Admin
Enter Password : 123
Invalid User

In [37]:
# Read the Input Username and Password
# If the Username and Password : Admin
# Give a chance to Update the Password
# Update the Password to New Password
x,y = 'Admin','Admin'
username = input('Enter Username : ')
password = input('Enter Password : ')
if x == username and y == password :
    choice =input('Do you want to Update Password : ')
    if choice == 'Yes':
        newpwd = input('Enter New Password : ')
        y = newpwd
        print('Password is Updated')
    else:
        print('Your password is not updated')
else:
    print('Invalid User')

Enter Username : Admin
Enter Password : Admin
Do you want to Update Password : Yes
Enter New Password : admin123
Password is Updated

In [38]:
print(y)
# True False and or not

admin123

In [43]:
true = True
if true:
    print('Gitam')
else:
    print('Hyderabad')

print(type(true))

Gitam
<class 'bool'>

In [ ]:
# Let's Understanding the Write the While Loop
while Condition:
    Statements
    Increment / Decrement

In [44]:
# Read the Value N and Print the output as Numbers from 1 to N
n = int(input())
i = 1
while i <= n:
    print(i,end = ' ')
    i += 1 # i++ does not work in Python

10
1 2 3 4 5 6 7 8 9 10

In [45]:
# Read the Value as N and Print Even Numbers between 1 to N
n = int(input())
i = 1
while i <= n:
    if i % 2 == 0:
        print(i,end = ' ')
    i += 1

12
2 4 6 8 10 12

In [ ]:
# Let's Understand Write of for Loop in Python
for localVar in range(Value):
    print()

In [46]:
for x in range(10):
    print(x,end = ' ')

0 1 2 3 4 5 6 7 8 9

In [47]:
for x in range(1,10):
    print(x,end = ' ')

1 2 3 4 5 6 7 8 9

In [48]:
for x in range(1,20,2):
    print(x,end = ' ')

1 3 5 7 9 11 13 15 17 19

In [50]:
for x in range(20,-1,-1):
    print(x,end = ' ')

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0

In [53]:
for x in range(-5,6,1):
    print(x,end = ' ')

-5 -4 -3 -2 -1 0 1 2 3 4 5

#### Functional Programming
- Define a function accroding to User requirements with some block of statemetns
- Reuseablity (Write for once and use any number of times)
- Program length will decreases
- Lengthy Program divides into sub blocks(Every Sub block is one function)

In [ ]:
# Syntax
def <funName>(<Parameters>):
    Statement 1
    Statement 2
    ...........
    statement n
    <return>

# funName - Camel Case
# test() isPrime() addTwoNumbers()
# Variables Names - Camel Case
# a x outputValue oSum pSum

In [54]:
# Function Defination
def test():
    print('Hello test() function')
    return
test() # Function Calling

Hello test() function

In [55]:
# Function with input values
def addTwoNumbers(x,y):
    print(x+y)
    return
addTwoNumbers(10,20)

30

In [56]:
# Function with paramters and return value
def cube(x):
    return x*x*x
cube(4)

64

In [62]:
# Function to test wether given given number is Palindrome or not
def isPalindrome(n):
    rev,buffer = 0,  n
    while n != 0:
        rev = rev*10 + (n%10)
        n = n // 10
    if buffer == rev:
        return "Palindrome"
    return "Not a Palindrome"
isPalindrome(1231)

'Not a Palindrome'

In [64]:
10//3

3

#### Data Structures in Python
- **List**
- **Tuples**
- **Dict**
- **Sets**

#### List
- Its one of the common Data Structure in Python
- This List enclosed within Square brackets
- Each List iten will be separated by comma symbol

In [66]:
# Sample List
li = [1,2,3,4,5]
print(type(li))
print(li)

<class 'list'>
[1, 2, 3, 4, 5]

In [68]:
a = [1009,'a','Gitam',1990,12.12]
print(a)
print(type(a))

[1009, 'a', 'Gitam', 1990, 12.12]
<class 'list'>

In [71]:
a[0] # Index

2020

In [70]:
a[0] = 2020 # Update the Index value

In [72]:
del a[2] # Delete the Index Value

In [73]:
print(a)

[2020, 'a', 1990, 12.12]

In [74]:
a[4] = 2919

IndexError: list assignment index out of range

In [79]:
# Some of the functions of list object
li = [19,1,24,21,89,22]
print('Max Value is ' ,max(li))
print('Min Value is ',min(li))
print('Sum of Values ',sum(li))
print('Len of List ',len(li))
print('Avg of List Values',sum(li)//len(li))

Max Value is  89
Min Value is  1
Sum of Values  176
Len of List  6
Avg of List  29

In [80]:
# Slicing of List Object
li[0:2] # starts from 0th Index and till 2nd Index

[19, 1]

In [84]:
li[2:] # If second parameter is not given then it will consider till last

[24, 21, 89, 22]

In [87]:
li[2:-2]

[24, 21]

In [89]:
#### Methods of List object
# li.append(object)
li.append(199) #it will place the object at last + 1 Index

In [96]:
li.insert(3,299) # It will place the value at particular Index

In [100]:
li.index(24) # It will print the index of the given object

2

In [102]:
li.count(3) # It will print the count of object repitations

2

In [103]:
li.reverse() # It will reverse the list object

In [106]:
li.sort() # It will sorts the list

In [107]:
li

[1, 3, 3, 19, 21, 22, 24, 89, 199, 299]

In [108]:
# Second Large the value of the list
def secondLarge(li):
    li.sort()
    return li[-2]
secondLarge(li)

199

In [109]:
def genericLarge(li,n):
    li.sort()
    return li[-n]
genericLarge(li,4)

24

In [110]:
def factorsList(n):
    li = []
    for x in range(1,n+1):
        if n % x == 0:
            li.append(x)
    return li
factorsList(6) # 1 2 3 6

[1, 2, 3, 6]

In [111]:
# Read the input as two Numbers and Print the repitations
# 123121212,2 -- 4
# 123121212,1 -- 4
def findRepCount(n,k):
    li = []
    while n != 0:
        li.append(n%10)
        n = n//10
    return li.count(k)
findRepCount(123121212,2)

4

In [ ]:
# External Packages to the Python
import <PackageName>

In [112]:
import math # Import the math Package to Python
# The above statement will import all the methods of math package

In [113]:
math.factorial(5) # Math Package calling the method factorial

120

In [114]:
math.floor(12.123)

12

In [115]:
from math import *
# The above statement will import all the methods of math package
from math import factorial,floor
# The above statement will import only two methods of math package

In [116]:
factorial(10)

3628800

In [117]:
import math as MathCalc

In [118]:
MathCalc.gcd(10,20)

10

#### File Management
- Create a File
- Write the Data to the File
- Read the Data from the File
- Problem statements on Files

In [121]:
def createFile(fileName):
    f = open(fileName,'w')
    for x in range(10):
        f.write('\nThis is %d line' %(x))
    print('File is created and Data has been sent to File')
    return
createFile('Data.txt')

File is created and Data has been sent to File

In [120]:
pwd

'C:\\Users\\Dhyanahita PS'

In [122]:
ls # List of Files and Folders

 Volume in drive C has no label.
 Volume Serial Number is 8081-5EFA

 Directory of C:\Users\Dhyanahita PS


 Directory of C:\Users\Dhyanahita PS


 Directory of C:\Users\Dhyanahita PS


 Directory of C:\Users\Dhyanahita PS


 Directory of C:\Users\Dhyanahita PS


 Directory of C:\Users\Dhyanahita PS

File Not Found

In [123]:
def createFile(fileName):
    f = open(fileName,'w')
    f.write('Gitam Hyderabad')
    f.close()
    print('File Data has written')
    return
createFile('Data.txt')

File Data has written